<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AppDb"
         connectionString="Data Source=DIR01ITDT002\SQLEXPRESS;Initial Catalog=PropertyOps_v1;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="240" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" />
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
